.b {
    display: flex;
    align-items: center;
    flex-direction:column ;
    margin: 0;
    padding: 20px;
}
.b h1{
    font-size: 50px;
    text-align: center;
    color: #602929;
    margin-bottom: 100px ;
}

.skill-bar {
    max-width: 1000px;
    margin: 0 auto;
}

.skill {
    display: flex;
    flex-direction: column;
    align-self: start;
    margin-bottom: 15px;
}

.skill-name {
    font-size: 30px;
    color: #2e2e2e;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.skill-level {
    height: 25px;
    background-color: #575757;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
    width: 800px;
}
#pro{
    width: 1000px;
}

#java{
    width: 900px;
}

#C{
    width: 800px;
}
#Python{
    width: 900px;
}
#htmll{
    width: 800px ;
}

#css{
    width: 800px;
}
#js{
    width: 700px;
}

.vertical-rectangle {
    position: absolute;
    top: 0;
    left: 2px;
    width: 10px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    background-color: #602929; /* Example background color */
    animation: drip 1s 4s  forwards;
  }
.droplet{
    position: absolute;
    top: 90px;
    left: 0;
    background-color: #602929;
    width: 15px;
    height: 20px;
    border-top-left-radius:30px;
    border-top-right-radius:30px ;
    border-bottom-right-radius:30px ;
    border-bottom-left-radius:30px ;
    animation: driplet 1s 4s  forwards;
    z-index: 10;
}
.blood{
    width: 100px;
    height: 200px;
    position: relative;

}

@keyframes drip {
    0% {
        
    }
    100% {

        height: 200px;
    }
}
@keyframes driplet {
    0% {
        
    }
    100% {

        transform:translateY(100px)
    }
}