.navbar{
    display:  flex;
    align-items: center;
    gap: 10px;
    margin: 0px 10px;

}
.alll{
 

    background: linear-gradient(rgba(141, 141, 141, 0.5), rgba(150, 150, 150, 0.5)), /* Adjust the opacity here */
    url('../../assets/back.JPG') no-repeat center center;
                
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 11%;
z-index: -1;



}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 5px 0px;
    gap: 60px;
    font-size: 32px;
}

.nav-connect{
    display: grid;
    columns: 10px;
    margin-right: 10px;
    margin-left: 200px;

    
}
.letter, .textin {
    grid-area: 1 / 1;

  }
.logo{
    height: 25vh;
    margin-left:10px ;
    margin-right: 100px;

}
.bat{
    height: 10vh;
    margin-top: auto;
}
.textin{
    width: 100%;
    margin: 10px ;
    font-size: 2.3vh;
    text-shadow: none;
    padding: 10px 10px 10px 10px;

}
.letter{
    height: 13vh;
    cursor: pointer;
    margin-right:10px
}
.button-divider{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; 
    padding: 0;

}
.anchorlink{
    text-decoration: none;
    color: #602929;
}
.nav-close{
    display: none;
    height: 20px;
}
.nav-open{
    display: none;
    height: 20px;
}

@media(max-width:768px){
    /* .alll{
        
    } */
    .nav-connect{
        display: none;
    }
    .nav-open{
        height: 20px;
        display: block;
        position: fixed;
        top: 15px;
        right: 30px;
        cursor: pointer;
    }
    .nav-close{
        height: 20px;
        display: block;
        position: relative;
        top: 15px;
        left: 50px;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: center;
        background : linear-gradient(rgba(141, 141, 141, 0.5), rgba(150, 150, 150, 0.5)), /* Adjust the opacity here */url('../../assets/back.JPG') no-repeat center center;
        padding-left: 10px;
        padding-right: 10px;
        top: -10px;
        gap: 30px;
        height: 110%;
        z-index: 2;
        transition: right 0.5s;
        right: -190px;
    }
}