.bio {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  margin-top: 25vh;
  margin-bottom: 60vh;
}
.bio h1 {
  text-align: center;
  width: 50%;
  font-size: 60px;
  font-weight: 600;
  color: #2e2e2e;
}
.bio p {
  display: inline;
  width: 50%;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  line-height: 40px;
  color: #575757;
}

.me {
  float: right;
  margin: 0 15px 15px 0;
  width: 200px;
  height: auto;
}
.me-back {
    float: right;
    margin: 0 15px 15px 0;

    animation:  2s 1s  slideInFromLeft forwards;

    width: 200px;
    height: auto;
  }

.resume{
    padding: 25px;
    border-radius: 1px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: #424242;;
}
.resume:hover{
    border: 3px solid black;
}

@keyframes slideInFromLeft {
    0% {
        
    }
    100% {
        transform-style: preserve-3d;
        transform:translateX(-78px) rotateY(80deg) ;
    }
}
.sleep {
    display: grid;

    align-items: center;

    height: 300px;
}
.sleep img {
    grid-area: 1 / 1;
}
@media(max-width:768px) {
    .me{
        width: 150px;
    }
    .bio h1{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .bio p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .resume{
        padding: 20px 30px;
        
    }
}