.pborder{
  
    border-left: 1px black solid;
    position: relative;
    z-index: 1;
    transform: translateZ(0);

    margin-left: 20%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.fix{
    display: flex;
    align-items: center;
    border: 2px black solid;
    margin-top: 10%;
    background-color: #9e9e9e;
    padding-right: 100px;
    padding: 10px;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}
.ppic{
    height: 150px;
    border: 4px rgb(216, 216, 216) solid;
    

}
.pdis{
    display: inline;
    width: 300px; 
    height: 100px;
    margin-top: 20px;
    color: rgb(40, 40, 40);

}
.pname{
    font-size: 20px;
}
.plan{
    font-size: 16px;
    margin-bottom: 90px;
    margin-left: 50px;
    color: rgb(40, 40, 40);
}
.pcontainer{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 50px;
    height: 70px;
}
.pborder::before {
    content: "";
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    top: 20px;
    left: 20px;
    border-radius: inherit;
    background: repeating-linear-gradient(
      45deg,
      #0000007c,
      #0000007c 2px,
      transparent 2px,
      transparent 6px
    );
    transition: all 0.3s ease;
  }


.pborder:hover::before {
    top: 40px;
    left: 40px;
  }
  

  @media(max-width:768px){
    .pcontainer{
        font-size:12px ;
    }
    .pdis{
        display: inline;
        width: 150px; 
        height: 120px;
        margin-top: 20px;
        color: rgb(40, 40, 40);
    
    }
    .fix{
        display: flex;
        align-items: center;
        border: 2px black solid;
        margin-top: 10%;
        background-color: #9e9e9e;
        padding-right: 10px;
        padding: 10px;
        text-decoration: none;
    }
    .pborder{
        margin-right: 10%;
    }
  }
  @media(max-width:576px){
    .pborder{
  
        border-left: 1px black solid;
        position: relative;
        flex-direction: column;
        margin-left: 4%;
        margin-right: 10%;
        margin-bottom: 60px;

    }
    .fix{
        flex-direction: column;
    }
    .plan{
        margin-left: 0px;
    }
    
.pborder:hover::before {
    top: 23px;
    left: 23px;
  }
  

  }